*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12vh;
}

header a {
    text-decoration: none;
}

.logo,
.login {
    width: 18%;
}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.navegacao {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navegacao {
    color: #201849;
}

.posicionamento_navegacao {
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
}

.botao_login {
    display: flex;
    background-color: #B51D44;
    width: 40%;
    height: 35%;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.botao_login a {
    color: #FFFFFF;  
}

/* main */

main {
    display: flex;
    height: 400vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.apresentacao_empresa {
    /* background-image: url(./img/imagemFundo.png); */
    width: 100%;
    height: 30%;
}

.apresentacao_empresa img {
    width: 100%;
    height: 100%;
}

.proximos_eventos {
    padding: 40px 0;
    width: 80%;
    height: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha_horizontal {
    width: 10%;
    border: 1px solid #821B47;
}

.eventos {
    padding: 10% 0;
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: space-between;
}

.evento {
    display: flex;
    width: 24%;
    height: 113%;
    border: 1px solid #821B47;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.evento a {
    color: #B51D44;
}